<!doctype html>
<html>

<head>
    <title><%- title %> - MVC with Email</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>WEB322 NEE MVC Project</p>
    </footer>
</body>

</html>